#container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 16px;
  align-items: center;
}

#content {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 100%;
  padding: 8px 1ch;
  border: solid 2px rgb(var(--surface0));
  margin-top: 16px;
  flex-grow: 1;
}
